
<%- include("partials/header") %>


<h1> Bio-informatics Project </h1>

<h3>
	 Life-Expectancy Database
</h3>

<a href = "/life_expectancies">View all life expectancies</a>

<%- include("partials/footer") %>

