
<%- include("partials/header") %>

<div class = "container">
	

<h1> Bio-informatics Project : Life-Expectancy Database</h1>

  <br/><br/><br/>

	<a href = "/life_expectancies"><button type="button" class="btn btn-primary btn-lg btn-block">Search and compare life expectancy across globe</button></a>

	<br/><br/><br/>
	
	<!-- ----------------------------------------------------------------------- -->
	
	
	


<h1> Research </h1>



<div class = "container">
	
	
	
	<ol class="list-group list-group-flush">
		
		<li class="list-group-item">
			
			<p> <label>Abstract</label><br/>
		
		
		Life expectancy is a statistical measure to estimate life of a being. It is a gauge to measure overall quality of life in each country. We know that life-expectancy of a country change from time to time depending on the living conditions. This research project answers the question whether countries improve their life expectancy year by year or deteriorate it. It also answers the question whether a gender group dominates other in life expectancies. To answer these questions and to play around with expectancy values this project "Life Expectancy Database" is built. The database can be used for querying (and analyzing) Life Expectancies (LE) of male, female (or both), across the globe. The DB consists of LE data from year 2000-2016 of around 183 countries and is taken from World Health Organization. Using this database we did an analysis by taking sample from developed (G7 countries) and developing countries (SAARC countries and Middle east) to answer the questions and it was found that though most of the countries kept improving their expectancies each year, for some countries it fluctuated whereas for others it deteriorated.
				
				
 <br/>
	  </p>
			
		</li>
		
		<!-- -----------------------------------------------------------------------
 -->	
		

		<li class="list-group-item">
			
			<p> <label>Research question</label><br/>
			
			The goal of this database is to analyze and infer whether the life expectancy of developed/developing countries improving/deteriorating over the years. To achieve this, we compare life expectancy values of countries from years 2000-2016 among developed and developing countries. While comparing we consider life expectancies of both sexes- male and female together and also separately.<br/>
	  </p>
			
		</li>
		
		<!-- -----------------------------------------------------------------------
 -->
 <li class="list-group-item">
	 
	 <p><label>Objectives</label>
	 <br/>
		 
	
	 
	 <ol> <li>Compare life expectancy values of developed (USA, Canada, UK etc.) and developing(India, Pakistan, Bangladesh, etc.) countries from 2000-2016 and infer from data if life-expectancies are improving or deteriorating.</li><br/>
	 <li>Compare life expectancy of male and female (together and separately) and infer from data which sex has better life-expectancy across.</li> </ol>

	 
		</p>
	</li>
	 
  
 <li class="list-group-item">
	 <p><label>Data Description</label>
	 <br/> 
The database consists of Life-expectancy data of 183 different countries from year 2000-2016 (2000,05,10,15,20 – taken every 5 years)  and of 5501 records which has attributes such as life expectancy at birth and also after 60 years - of male, female (individually and combined). As there are too many records, and of .JSON file structure and NoSql being used, single source was self-sufficient.  
.
	 </p></li>

  <li class="list-group-item">
	  
	  <p>
		   <label>Methodology</label>
	  <br/> To answer the research question, we took the following approach:<br/> 
	<p>
	  
		  We identified developing and developed countries from the database in first step. We took a sample of them for research as analyzing all the countries would be a difficult task. The sample is as follows
	     
	</p>
	  <p>
		  <b>G7 countries: The Group of 7</b><br/>
 (Developed countries: Canada, France, Germany, Italy, Japan, the United Kingdom and the United States) 
	  </p>
<p>
	<b>SAARC countries: South Asian Association for Regional Cooperation</b><br/>
 (Developing countries: Afghanistan, Bangladesh, Bhutan, India, the Maldives, Nepal, Pakistan and Sri Lanka)
	  </p>
<p>
	<b>Few countries in middle east</b><br/>
 (Developing countries: Iran, Iraq, Saudi Arabia, Syria) 
	
	  </p>
	  
	  <p>
		   
		  <b>	   In the second step we queried and analyzed the life-expectancy of each country i.e. both developed and developing countries individually with both the sex individually and in group and inferred whether life expectancy is improving or deteriorating.</b>
  
		
	  </p>
<br/>
	  <p>
		 We selected the country, set the parameters, and did the following query
Query example: <br/>
"life_expectancy.find({$and:[{"dims.COUNTRY":"Afghanistan"},{"dims.GHO":"Healthy life expectancy (HALE) at birth (years)"}]})).sort( { "dims.YEAR": 1 } )
		 
		  <p>
			   
			  <b>	    Finally, we combined the results, i.e. developed countries together and developing countries together and observed the results which was interesting to watch.</b>
				  
  
			
	  
 
	  


	  </p></li>

  
		
		
	<!-- ----------------------------------------------------------------------	 -->
	
	
	<br/>
	
		<li class="list-group-item"><p>
			<p>
		   <label>Results</label>
			</p>
	   <h5>Objective 1:</h5>
<ul>
<li>As expected, developed countries had greater life expectancy values compared to developing countries. While Japan had an expectancy value for both sexes of 74.8 in 2016, India has 60 years. 
</li>
<li>All the developing countries had closer values ranging from 68-75 for both sexes, while developed countries had values ranging from 50 – 69.</li>
<li>From year 2000 – 2016, In the observed countries though most of the country’s life expectancy improved, expectancy deteriorated in middle eastern country like Syria from 63 in 2005 – 55 in 2016. Also, Iran’s life expectancy fluctuated between 59’s and 64’s.</li>
			</ul>
<h5>Objective 2:</h5>
<ul>
<li>
When expectancies were compared between male and female, we found that almost all the countries have greater life expectancies of female than male. It was seen on an average that women lived at least 2-5 years longer than men. This was an interesting find, from which we may infer that either women on an average have more healthier practices when compared to men or they have a good mental health.
</li><br/> 
	
						
	 <!-- <div class="container"> -->
			
	<a href = "/results"><button type="button" class="btn btn-primary btn-lg btn-block">Results</button></a>
			</ul>		<!-- </div>	 -->
		
	<!-- -------------------------------------------------------------------
		 -->
	
	<li class="list-group-item"><p>

	<a href = "/life_expectancies">Back</a>
	</p></li>
	
	
	</ul>

	

	</div>


	


<%- include("partials/footer") %>

