<%- include("partials/header") %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Perform Query</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/life_expectancies" method="POST">
                <div class="form-group">
                  <label>Country : </label>  <input class="form-control" type="text" name="country" placeholder="ex:Afghanistan">
                </div>
				
				<hr/>
				
				
                <div class="form-group">
                 <label>GHO : </label> <div class="form-check">
  <input class="form-check-input" type="radio" name="gho" id="exampleRadios1" value=" Healthy life expectancy (HALE) at birth (years)" checked>
  <label class="form-check-label" for="exampleRadios1">
    Healthy life expectancy (HALE) at birth (years)
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="gho" id="exampleRadios2" value="Healthy life expectancy (HALE) at age 60 (years)">
  <label class="form-check-label" for="exampleRadios2">
    Healthy life expectancy (HALE) at age 60 (years)
  </label>
</div>
                </div>
			
			<hr/>
				<div class="form-group">
	<label>Gender : </label><div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="sex" id="inlineRadio1" value="Male">
  <label class="form-check-label" for="inlineRadio1">Male</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="sex" id="inlineRadio2" value="Female">
  <label class="form-check-label" for="inlineRadio2">Female</label>
</div>
					<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="sex" id="inlineRadio2" value="Both sexes">
  <label class="form-check-label" for="inlineRadio2">Both sexes</label>
</div>
</div>
				<hr/>
				<div class="form-group">
                <label>Year : </label>    <input class="form-control" type="text" name="year" placeholder="ex: 2015">
                </div>
				
				<!-- <div class="form-group">
                    <input class="form-control" type="text" name="value" placeholder="ex : 54.1 ">
                </div> -->
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Search</button>
                </div>
            </form>
            <a href="/life_expectancies">Go Back</a>
        </div>
    </div>
</div>
<%- include("partials/footer") %>